rules_version = '2';
service cloud.firestore {
 match /databases/{db}/documents {
  match /notifications/{n} {
    // lectura: dueño o admin/teacher
    allow read: if request.auth != null &&
      (resource.data.userId == request.auth.uid
       || hasAnyRole(['admin','teacher']));
    // create solo admin o teacher
    allow create: if hasAnyRole(['admin','teacher']);
    // update (marcar read) dueño + admin/teacher
    allow update: if request.auth != null &&
      (resource.data.userId == request.auth.uid
       || hasAnyRole(['admin','teacher']));
    // delete solo admin
    allow delete: if hasAnyRole(['admin']);
  }

  function hasAnyRole(r) {
    return get(/databases/$(db)/documents/users/$(request.auth.uid))
             .data.roles.hasAny(r);
  }
 }
}
